.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}


.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
  font-weight: 400;
}

html{
    background-color: hsl(30, 54%, 90%)
}

.main_div{
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    align-self: center;
    border-radius: 25px;
    border: 30px solid white;
    margin: 50px;
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    overflow: auto;
    word-wrap:break-word;
}

.img_style{
    height: auto;
    width: 100%;
    border-radius: 25px;
}

.prep_style{
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    border: 10px solid hsl(330, 100%, 98%);
}

.instruction_div{
    border: 10px solid white;
}
.nutrition_div{
    border: 10px solid white;
}

table, tr, td{
    border-bottom: 1px solid hsl(30, 18%, 87%);
    border-collapse: collapse;
    text-align: start;
    padding: 10px;
    width: 99%;
}

ol li::marker{
    color: hsl(14, 45%, 36%);
}

ol li{
    padding-left: 10px;
    padding-bottom: 10px;
}

ul li{
    padding-bottom: 10px;
}